
.wpsite_plugin_header .headercontent .plugin-info .bcz-multilingual-plugin-name {
  display: inline-block;
  margin-left: 30px;
  color: #FF5252;
  transform-origin: 70% 70%;
  -webkit-transform: rotate(18deg);
     -moz-transform: rotate(18deg);
      -ms-transform: rotate(18deg);
       -o-transform: rotate(18deg);
       writing-mode: lr-tb;
}
